body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B35A12;
    color:#FF7300;
    font-size: large;
    text-align: center;
    overflow-x:hidden;
}
*{
    padding:0;
    margin:0;
}
::-webkit-scrollbar {
    width:10px;
    transition:all .3s ease-in-out;
}
::-webkit-scrollbar-track {
    background:#B35A12; 
}
::-webkit-scrollbar-thumb {
    background:#994500;
}
::-webkit-scrollbar-thumb:hover {
    background:#753500; 
}
#main{
    width:97%;
    margin:0 auto;
    background-color: #662E00;
    position:relative;
    min-height:100vh;
    padding-bottom:30px;
    box-sizing: border-box;
}
#header{
    width:100%;
    background-color: #FF7300;
    border-bottom:3px solid #B35A12;
    color:#662E00;
    font-size:50px;
    text-align: center;
}
#description{
    position:absolute;
    width:300px;
    left:20px;
    top:200px;
    margin:0;
    padding:10px;
    line-height: 1.6;
    border-left:3px solid #c96310;
    background-color: #873d00;
}
.chartContainer{
    color:#FF7300;
    width:400px;
    height:400px;
}
#charts{
    width:100%;
    padding-left:300px;
}
#stats{
    position:absolute;
    width:300px;
    left:20px;
    top:128px;
    margin:0;
    padding:5px;
    line-height: 0.5;
    border-left:3px solid #c96310;
    background-color: #873d00;
}
#footer{
    width:100%;
    position:absolute;
    bottom:0px;
    background-color: #873d00;
    font-size: smaller;
    font-family: monospace;
    padding:3px;
    box-sizing: border-box;
}
#authorArticle{
    width:700px;
    margin:10px auto;
    line-height: 1.6;

}
#content{
    width: 1600px;
    padding-bottom:15px;
}
#scroll{
    width:720px;
    background-color: #FF7300;
    overflow-y:scroll;
    height:640px;
    margin:0 auto;
}
#noScrollWrap{
    width:720px;
    overflow:hidden;
    height:640px;
    margin:0 auto;
    border-radius: 10px;
    margin-bottom:20px;
}
.reviewAmount{
    display:inline-block;
    border-radius:15px;
    padding:2px;
    width:150px;
    color: white;
    background-color: dodgerblue;
    margin:5px;
    font-size:small;
    overflow:hidden;
}
.meanRating{
    display:inline-block;
    border-radius:15px;
    padding:2px;
    width:150px;
    color: white;
    background-color: blueviolet;
    margin:5px;
    font-size:small;
    overflow:hidden;
}
.conCount{
    display:inline-block;
    border-radius:15px;
    padding:2px;
    width:150px;
    color:white;
    background-color: red;
    margin:5px;
    font-size:small;
    overflow:hidden;
}
.proCount{
    display:inline-block;
    border-radius:15px;
    padding:2px;
    width:150px;
    color:white;
    background-color: darkgreen;
    margin:5px;
    font-size:small;
    overflow:hidden;
}

.productButton{
    color:#FF7300;
    background-color: #662E00;
    transition:all .3s ease-in-out;
    border:none;
    padding:10px;
    font-size: larger;
    width:690px;
    margin: 10px auto;
    margin-top: 15px;
    margin-left:-10px;
    min-height:50px;
    border-left:3px solid #FF7300;
    border-radius:10px;
}
.productButton:hover{
    background-color:#B35A12;
    border-left:3px solid #FF7300;
}
p{
    margin:30px;
    font-size:larger;
}
#searchBar{
    color:#FF7300;
    background-color: #B35A12;
    border:none;
    padding:10px;
    font-size: larger;
    width:670px;
    margin:10px auto;
    margin-top: 0;
    height:30px;
    border-radius:10px;
    transition:all .3s ease-in-out;
    border:3px solid #B35A12;
}
#searchBar:hover{
    background-color:#c96310;
}
#searchBar:focus{
    outline-width: 0;
    border:3px solid #FF7300;
}

#searchBar::placeholder{
    color:#662E00;
}
#underRat{
    width:350px;
    position:absolute;
    bottom:0px;
    left:10px;
    display:block;
}
#extractButton{
    color:#FF7300;
    background-color: #662E00;
    transition:all .3s ease-in-out;
    border:none;
    padding:10px;
    font-size: larger;
    width:710px;
    margin-top: 15px;
    margin-left:-10px;
    height:50px;
    border-left:3px solid #FF7300;
}
#extractButton:hover{
    background-color: #B35A12;
    border-left:5px solid #FF7300;
}
.bigButton{
    color:#662E00;
    background-color: #FF7300;
    transition:all .3s ease-in-out;
    border:none;
    padding:10px;
    font-size: larger;
    width:200px;
    margin-top: 25px;
    margin-left:-10px;
    height:50px;
    border-left:3px solid #B35A12;
}
.bigButton:hover{
    background-color: #B35A12;
    border-left:3px solid #FF7300;
}
#authorButton{
    position:absolute;
    top:110px;
    left:30px;
    height:30px;
}
#opinion{
    border-left:8px solid #B35A12;
    background-color: #662E00;
    width:650px;
    margin:10px;
    padding:10px;
    overflow-wrap: break-word;
}
#opContent{
    width:610px;
    font-size:smaller;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#logo{
    text-decoration: none;
}
#prodTitle{
    max-width:800px;
    margin:15px auto;
    color:#FF7300;
    transition:.3s all ease-in-out;
}
#prodTitle:hover{
    color:#B35A12;
}

/* Data table */
#opinionTable_wrapper{
    color:#FF7300;
    width:90%;
    overflow:hidden;
    position: relative;
    clear: both;
    padding: 15px;
}
#opinionTable{
    width: 100% !important;
    border: 0;
    margin: 10px auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;

}
tbody{
    border:0;
}
thead{
    margin:0;
    border:0;
    padding:0;
    border-bottom:2px solid #c96310;
}
tr{
    padding:0;
    background-color:#753500;
    transition:all .3s ease-in-out;
    border:0;
    margin:0;
}
tr:hover{
    background-color:#944400;
}
td{
    box-sizing:border-box;
    margin:0;
    border:0;
    padding:0;
}
th{
    background-color:#994500;
    border: 0;
    padding: 5px;
    text-align: center;
}
.even{
    background-color: #873d00;
}
#opinionTable_length{
    width:97% !important;
    display: flex;
    justify-content: flex-end;
    margin:10px;
    margin-bottom:30px;
}
#opinionTable_filter{
    width:97% !important;
    margin:10px;
    margin-bottom:0px;
    display: flex;
    justify-content: flex-end;
}
label>input{
    color:#FF7300;
    background-color:#B35A12;
    border:none;
    padding:10px;
    font-size:larger;
    width:200px;
    margin:10px auto;
    margin-top:0;
    height:30px;
    border-radius:10px;
    transition:all .3s ease-in-out;
    border:3px solid #B35A12;
}
label>input:hover{
    background-color:#c96310;
}
label>input:focus{
    outline-width: 0;
    border:3px solid #FF7300;
}
label>input::placeholder{
    color:#662E00;
}
.paginate_button{
    background-color: #994500;
    transition:all .3s ease-in-out;
    padding:5px;
    margin:5px;
}
.paginate_button:hover{
    background-color: #c96310;
}
.paginate_button:active{
    background-color: #662E00;
}
#opinionTable_paginate{
    margin:10px;
}
select {
    color:#FF7300;
    background-color:#B35A12;
    border:none;
    border-radius:5px;
    padding:5px;
    transition:all .3s ease-in-out;
}
select:hover{
    background-color:#c96310;
}
select:focus{
    outline-width: 0;
}