<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Author - Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <div id="main">
    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>
    <div id="authorArticle">
      <h1>Piotr Kmieć</h1>
      Im an IT technician and first year student of Applied Informatics at CUE. I like playing the piano, martial arts and am moderately interested in technical analisys on the foreign exchange market. Great guy overall
    </div>
    <img id="underRat" src="{{url_for('static', filename='gfx/rat.png')}}" alt=""/>
    <div id="footer">Piotr Kmieć 2021</div>
  </div>
</body>
</html>