<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body onload="indexPage()">
    {% if errorID %}
      {{ errorID }}
    {% endif %}

  <div id="main">
    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>
      <p>Extracted products:</p>
      <div id="noScrollBarWrap"><div id="scroll">
        
        <input type="text" id="searchBar" placeholder="Write product ID here"/>

        <form action="/showOpinions">
        {% for product in products %}
        <input class="productButton" type="submit" value="{{product}}" name="product"/>
        {% endfor %}
        </form>

        <form id="extractForm" action="/extract" style="display:none">
        <p style="color:#662E00">This product has not beed extracted yet.</p>
        <a id="extractButton"></a>
        </form>

      </div></div>
    </div>
  </div>
</body>
</html>