<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body onload="indexPage()">
    {% if errorID %}
      The product ID has to be between 8 and 9 characters and can only consist of digits
    {% endif %}

  <div id="main">

    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>

    <a id="authorButton" class="bigButton" href="author">About author</a>
      <p>Extracted products:</p>
      <input type="text" id="searchBar" placeholder="Write product ID here"/>

      <div id="noScrollWrap"><div id="scroll">

        <form action="/showOpinions">
        {% for x in range(0, amount) %}
        <button class="productButton" type="submit" value="{{products[x]}}" name="product">{{products[x]}} , {{names[x]}}</button>
        {% endfor %}
        </form>

        <form id="extractForm" action="/extract" style="display:none">
        <p style="color:#662E00">This product has not been extracted yet.</p>
        <a id="extractButton"></a>
        </form>

      </div></div>
    <div id="footer">Piotr Kmieć 2021</div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</body>
</html>