<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body onload="indexPage()">
    {% if errorID %}
      The product ID has to be between 8 and 9 characters and can only consist of digits
    {% endif %}

  <div id="main">
    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>
      <p>Extracted products:</p>
      <div id="noScrollBarWrap"><div id="scroll">
        
        <input type="text" id="searchBar" placeholder="Write product ID here"/>

        <form action="/showOpinions">
        {% for x in range(0, amount) %}
        <!-- <input class="productButton" type="submit" value="{{products[x]}}" name="product"/> -->
        <button class="productButton" type="submit" value="{{products[x]}}" name="product">{{products[x]}} , {{names[x]}}</button>
        {% endfor %}
        </form>

        <form id="extractForm" action="/extract" style="display:none">
        <p style="color:#662E00">This product has not been extracted yet.</p>
        <a id="extractButton"></a>
        </form>

      </div></div>
    </div>
  </div>
</body>
</html>