<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }} - Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>
    <div id="content">
      <h1 id="prodTitle">{{ title }}</h1>
      <p>Extracted opinions:</p>
      <div id="noScrollBarWrap"><div id="scroll">

        {% for opinion in opinions %}
          <div id="opinion">
            <h3 id="opAuthor">{{ opinion['author'] }}</h3>
            <p id="opContent">{{ opinion['content'] }}</p>
          </div>
        {% endfor %}

      </div></div>
    </div>
  </div>
</body>
</html>