<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }} - Ceneo Review Analisys Tool</title>
  <meta name="description" content="Ceneo Review Analisys Tool">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body>

  <div id="main">
    <div id="header">
      <h1 onclick="location.href='/';" style="cursor:pointer"><span style="color:orangered; font-family:arial">c</span><span style="font-family: monospace;">RAT</span></h1>
    </div>

    <div id="stats">
    <p>Amount of opinions: <b>{{ opinionsCount }}</b></p>
    <p>Average rating: <b>{{ meanRating }}</b></p>
    <p>Amount of pros: <b>{{ prosCount }}</b></p>
    <p>Amount of cons: <b>{{ consCount }}</b></p>
    </div>

    <div id="content">
      <h1 id="prodTitle">{{ title }}</h1>
      <a class="bigButton" id="rextractButton" href="extract/{{ id }}">Re-extract product</a>
      <div id="charts">
        <div class="chartContainer"><canvas id="reviewRatio"></canvas></div>
        <div class="chartContainer"><canvas id="starAmounts"></canvas></div>
      </div>
        {% block content %}
          <div>
            {{table | safe}}
          </div>
        {% endblock %}
    </div>

    <div id="footer">Piotr Kmieć 2021</div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
  <script>
    Chart.defaults.global.defaultFontColor = "#FF7300";
    
      $(document).ready(function(){
          $('#opinionTable').DataTable();
      });

      new Chart(document.getElementById("reviewRatio"), {
          type: 'pie',
          data: {
            labels: ["Positive", "Negative", "Neutral"],
            datasets: [{
              label: "No. of opinions",
              backgroundColor: ["darkgreen","red","grey"],
              data: {{ ratio }},
              borderColor: "#FF7300",
            }]
          },
          options: {
            relative: true,
            title: {
              display: true,
              text: 'Ratio of positive opinions to negative opinions'
            },
            
          }
      });

      new Chart(document.getElementById("starAmounts"), {
        type: 'bar',
        data: {
          labels: ['0.0','0.5','1.0','1.5','2.0','2.5','3.0','3.5','4.0','4.5','5.0'],
          datasets: [{
            label: "No. of opinions by rating",
            backgroundColor: ["#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300","#FF7300",],
            data: {{stars}},
            borderColor: "#FF7300",
          }]
        },
        options: {
            relative: true,
            title: {
              display: true,
              text: 'Number of opinions by amount of stars'
            }
        }
      });

  </script>
</body>
</html>